<div class="container">
  <!-- Tip: use bg-* and text-* utilities to style the card -->
  <div class="card text-white bg-primary mb-3 d-inline-block" style="max-width: 20rem;">
    <div class="card-header">Honda</div>
    <div class="card-body">
      <h4 class="card-title">Model:</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
    <div class="card-header">Toyota</div>
    <div class="card-body">
      <h4 class="card-title">Model:</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>

</div>
